# Copy to terraform.tfvars and edit to override default values

# region              = "us-east-1"
# project             = "test-ecs"
# environment         = "test"

# container_port      = 3000
# task_cpu            = 256
# task_memory         = 512
# desired_count       = 1

# db_instance_class   = "db.t4g.micro"
# db_allocated_storage = 20
# db_name             = "jobs"
# db_username         = "jobs"

# ecr_repository_name = "test-ecs"
# placeholder_image   = "public.ecr.aws/nginx/nginx:stable"
# image_tag           = ""           # set by CI to deploy a specific build

# github_org          = "GithinjiC"
# github_repo         = "mpesa-devops-assessment"
# github_branch       = "main"
